<h1 align='center'>Hobby Apps!</h1>
<h3 align="center">
  For a summary of work related projects, please see my <a href="./../../../assets/resume.pdf" target="_blank">resume</a>.
</h3>
<div fxLayout.lt-md='column' fxLayout='row'>
  <a routerLink='/project/saplyn'>
    <mat-card>
      <mat-card-title align='center'>
        Saplyn
      </mat-card-title>
      <img mat-card-image
        src="./../../../assets/saplyn_android.png"
        alt="Saplyn">
    </mat-card>
  </a>
  <a routerLink='/project/lambda-api'>
    <mat-card>
      <mat-card-title align='center'>
        LambdaApi
      </mat-card-title>
      <img mat-card-image
        src="./../../../assets/lambda_api.jpg"
        alt="LambdaApi">
    </mat-card>
  </a>
  <a routerLink='/project/cheskers'>
    <mat-card>
      <mat-card-title align='center'>
        Cheskers
      </mat-card-title>
      <img mat-card-image
        src="./../../../assets/cheskers_splash.jpg"
        alt="Cheskers">
    </mat-card>
  </a>
  <a routerLink='/project/portfolio'>
    <mat-card>
      <mat-card-title align='center'>
        This Portfolio!
      </mat-card-title>
      <img mat-card-image
        src="./../../../assets/project_portfolio.png"
        alt="Portfolio">
    </mat-card>
  </a>
  <a routerLink='/project/tasterly'>
    <mat-card>
      <mat-card-title align='center'>
        Tasterly
      </mat-card-title>
      <img mat-card-image
        src="./../../../assets/tasterly_logo.jpg"
        alt="Tasterly">
    </mat-card>
  </a>
</div>
