<div class="top-margin">
  <h3 align="center">
    For a summary of work related projects, please see my resume.  I've
    included these hobby applications to show a range of the technologies I've
    worked with as a way of learning different stacks and design patterns.
  </h3>
  <div fxLayout.lt-md='column' fxLayout='row'>
    <div >
      <mat-card>
        <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div >
      <mat-card>
        <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div>
      <mat-card>
        <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div>
      <mat-card>
        <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
    <div>
      <mat-card>
        <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
  </div>

</div>
