<div class="top-margin">
  <h3 align="center">
    For a summary of work related projects, please see my resume.  I've
    included these hobby applications to show a range of the technologies I've
    worked with as a way of learning different stacks and design patterns.
  </h3>
  <mat-grid-list cols="5">
    <mat-grid-tile>
      <a routerLink="/project/portfolio">
        <mat-card>
          <img src="../../../assets/project_portfolio.png" />
        </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <img src="../../../assets/project_test2.jpg" />
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>
      <a routerLink="/home">
        <mat-card>
          <img src="../../../assets/project_test2.jpg" />
        </mat-card>
      </a>
    </mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
</div>
