.header-image {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.mat-card {
  margin-left: 13em;
  margin-right: 13em;
  margin-top: 3em;
}

.portfolio-card {
  margin-left: 25em;
  margin-right: 25em;
}
