<mat-card class="portfolio-card">
  <h1 align="center">
    A portfolio entry for my portfolio's portfolio...
  </h1>
  <img class="header-image" src="../../../../assets/project_portfolio.png"/>
  <mat-card>
    <p>
      Angular might be a little too large for this project, but I decided to use
      it anyway, because I want to explore the front-end stack (specifically
      Angular Material) a little further. There are some things I miss from
      Bootstrap, but I think that just means I need to learn more CSS.
    </p>
  </mat-card>
</mat-card>
