<mat-card>
  <mat-card-title>
    Cheskers
  </mat-card-title>
  <img mat-card-image src="../../../../assets/cheskers_splash.jpg"/>
  <mat-card-content>
    <p>
      One sunny afternoon in Portland I found this very unique game called
      Chinese Chess by Gabriel (Not Xiangqi). The mechanics are completely
      novel, but the game itself is visually simple,
      so it seemed like the perfect opportunity to code some business logic
      in the context of an Android game.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href='https://github.com/mthomsonbrown/Cheskers' target='_blank'>
      <button mat-raised-button color='accent'>Github</button>
    </a>
    <a href='https://play.google.com/store/apps/details?id=com.ookamijin.cheskers'
       target='_blank'>
      <button mat-raised-button color='accent'>Play Store</button>
    </a>
  </mat-card-actions>
</mat-card>
