.container {
  display: flex;
}

.with-zazz {
    font-family: 'Syncopate', sans-serif;
}

.mat-card {
  height: 100%;
  margin-bottom: 2em;
}

.img-container {
  margin-right: 3em;
}

li {
  margin: 10px 0;
}
