<div class="row">
  <div class="column">
    <mat-card>
      <p>
        Hey, whatcha watching? Say it in Russian! Soon enough. Leela, are you
        alright? You got wanged on the head. THE BIG BRAIN AM WINNING AGAIN! I
        AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN! Fry, we have a
        crate to deliver.
      </p>
      <p>
        But existing is basically all I do! In your time, yes, but nowadays
        shut up! Besides, these are adult stemcells, harvested from perfectly
        healthy adults whom I killed for their stemcells. Bender, hurry! This
        fuel's expensive! Also, we're dying!
      </p>
      <p>
        I am Singing Wind, Chief of the Martians. We're rescuing ya. We'll go
        deliver this crate like professionals, and then we'll go home. A sexy
        mistake. Aww, it's true. I've been hiding it for so long. When will
        that be? Ummm…to eBay? I am Singing Wind, Chief of the Martians. Well,
        then good news! It's a suppository. Why did you bring us here? No.
        We're on the top. I just told you! You've killed me! Oh no! The
        professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts!
      </p>
    </mat-card>
  </div>
  <div class="column">
    <img class="center" src="../../../assets/me_lightening.jpg" />
  </div>
</div>
