<div class="row">
  <div class="column">
    <mat-card>
      <h1 class='with-zazz'>Hello,</h1>
      <p>
        Please feel free to click around. The page is under some definite
        construction, but if you want to know more about me, here are some text
        strings that you can copy and paste into your browser's address bar to
        learn more (not tested on internet explorer):
        <br />
        <br />
        https://github.com/mthomsonbrown
        <br />
        https://www.linkedin.com/in/mthomsonbrown/
      </p>
    </mat-card>
  </div>
  <div class="column">
    <img class="center" src="../../../assets/me_lightening.jpg" />
  </div>
</div>
