<mat-card>
  <mat-card-title>
    Lambda API
  </mat-card-title>
  <mat-card-content>
    <p>
      This is a simple project to get familiar with the basics of
      Amazon Web Services. It's an API used to store key value pairs using
      AWS Lambda functions, API Gateway, and DynamoDB to store the results.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a href='https://github.com/mthomsonbrown/LambdaApi' target='_blank'>
      <button mat-raised-button color='accent'>Github</button>
    </a>
  </mat-card-actions>
</mat-card>
