<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header>
    <mat-toolbar>
      <span>{{title}}.</span>
      <span class="fill-space"></span>
      <button mat-button color="accent">
        About
      </button>
      <button mat-button color="accent">
        Portfolio
      </button>
      <button mat-button color="accent">
        Contact
      </button>
    </mat-toolbar>
  </header>
</div>
<body>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</body>
